body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1619947603049-1cc0708f336e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 75%;
    max-width: 500px;
  }
  
  h2 {
    text-align: center;
    margin-top: 0;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"], input[type="password"], input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  #create-user-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  #create-user-button:hover {
    background-color: #3e8e41;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #23527c;
  }
  
  .bx {
    margin-right: 10px;
    vertical-align: middle;
  }
  
  p {
    text-align: center;
    margin: 10px 0;
  }
  
  .notification {
    position: fixed; 
  }