body {
    font-family: Arial, sans-serif;
    background-image: url('https://t4.ftcdn.net/jpg/06/29/74/85/360_F_629748538_FGo3si6sm8MpXEInFQ9ZOas0AJN0zJWH.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
  }
  
  form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 40px auto;
  }
  
  h2 {
    text-align: center;
    margin-top: 0;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #23527c;
  }
  .g-signin2 {
    /* Make the Google Sign-In button visible */
    display: inline-block;
    width: 240px;
    height: 40px;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4285f4;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .g-signin2:hover {
    background-color: #3367d6;
  }
  
  .g-signin2:active {
    background-color: #2e5eaa;
  }